body{
    margin: 0;
    padding: 0;
    background-color: #000;
    scroll-behavior: smooth;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: #4b4b4b5b;
    backdrop-filter: blur(10px);
}

.headleft{
    display: flex;
    align-items: center;
}

.headleft img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.headleft button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.headleft button:hover{
    opacity: 0.7;

}

.headright{
    display:flex;
}

.headright{
    text-decoration: none;
    padding-left: 25px;
    color: white;
    font-size: 15px;
}

.hero-section{
    position: relative;
    width:100%;
    height:100vh;
    overflow: hidden;
}

.hero-vid{
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-video{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.hero-info{
    z-index: 1;
    position: absolute;
    top: 80px;
    left:50px
}

.hero-info h1{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;

}

.hero-info p{
     color: white;
     max-width: 210px;
}

.hero-info button{
    background-color: #edff66;
    border: 2px solid #edff66;
    border-radius: 20px;
    padding: 10px 40px;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}

.hero-info button:hover{
    background-color: transparent;
    color: white;
    box-shadow: 0 0 15px #edff66;

}

.gaming-text{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 30px;
    color: white;
}

.next-btn{
    width: 200px;
    height: 200px;
    background-color: #edff66b6;
    position: absolute;
    left: 45%;
    bottom: 45%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    transition: 0.5s; 
}

.next-btn:hover{
    width: 200px;
    height: 200px;
    opacity: 1;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.616);
}

.about-section{
    width: 100%;
    height: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.image-box{
    width: 360px;
    height: 510px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-section p{
    font-size:  120px;
}

.about-section h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 100px;
    max-width: 1150px;
    text-align: center;
    margin: 25px 0;
    text-transform: uppercase;
    background: linear-gradient(to right, #4acfee, #53f89c, #02d79a, #6070fd, #2a46ff, #0099ff,#4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to{
        background-position: 200%;

    }
}
.about-section h4{
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 80px;
    margin-top:  50px;
    margin-bottom: 0;

}
.about-section h5{
    margin-top: 5px;
    color: rgb(224, 224, 224);
    max-width: 425px;
    text-align: center;
    line-height: 25px;
    font-weight: 900;
    font-size: 80px;

}

.info-section{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 100px;
}

.info-section h3{
    margin-bottom: 0;
}

.info-section p{
    margin-top: 5px;
    color: gray;
    max-width: 400px;
    line-height: 25px;
}

.info-cards{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.card{
    position: relative;
    width: auto;
    height: 40vh;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 20px;
    transition: 0.5s;
}

.card h1{
    position: absolute;
    margin: 0;
    top: 10px;
    left: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    z-index: 1;
    background: linear-gradient(to right, #4acfee, #53f89c, #02d79a, #6070fd, #2a46ff, #0099ff,#4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    max-width: 250px;
}

.card p{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 80px;
    left: 5%;
    z-index: 1;
    max-width: 250px;
    color: lightgray;
}

.card video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card button{
    position: absolute;
    bottom: 5%;
    left: 5%;
    padding: 10px 25px;
    border: 1px solid gray;
    background-color: #0f1217;
    color: gray;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    transition: 0.3s;

}

.card button:hover{
    box-shadow: 0 0 5px lightgray;
    opacity: 0.7;
}

.card:hover{
    box-shadow: 0 0 15px white;

}

.card:nth-child(1){
    grid-column: span 2;

}

.card:nth-child(2){
    grid-row: span 2;
    height: 83vh;
    
}


.contact-section{
    position: relative;
    width: 100%;
    margin-top: 200px;  
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.contact-section .img1{
    position: absolute;
    top: 10%;
    right: 20px;
    height: 400px;
    clip-path: polygon(32% 0,94% 0,74% 100%,0% 100%);
}
.contact-section .img2{
    position: absolute;
    top: 10px;
    left: 50px;
    height: 200px;
   clip-path: polygon(32% 0,94% 0,74% 100%,0% 100%);

}

.contact-section .img3{
    position: absolute;
    bottom: 30%;
    left: 5%;
    height: 250px;
    width: 250px;
    clip-path: polygon(32% 0,94% 0,74% 100%,0% 100%);

}

.contact-section p {
    margin-top: 100px;

}

.contact-section h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: center;
    background: linear-gradient(to right, #4acfee, #53f89c, #02d79a, #6070fd, #2a46ff, #0099ff,#4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

.contact-section button{
    padding: 10px 25px;
    border: 1px solid gray;
    background-color: #0f1217;
    color: gray;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    transition: 0.3s;
}

.work p{
    top:200px
}

.meet p{
    top:200px;
    font-size: 100px;
    color:#0f1217;
    left:100px
}

.cyber p{
    top:150px;
}

.autoBlur{
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}

@keyframes autoBlurAnimation{
    0%{
        filter: blur(40px);
    }
    40%,60%{
        filter: blur(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    100%{
        filter: blur(40px);
        transform: translateY(-200px);
        opacity: 0;
    }
}


/* TAKE FULL SCREEN ANIMATION */
.autoTakeFull{
    animation: autoTakeFullAnimation both;
    animation-timeline: view(70% 65%);
}

@keyframes autoTakeFullAnimation{
    to{
        width: 100%;
        height: 100vh;
        border-radius: 0;
        margin-bottom: 100px;
    }
}

/* AUTO DISPLAY ANIMATION */
.autoDisplay{
    animation: autoDisplayAnimation both;
    animation-timeline:  view(70% 5%);

}

@keyframes autoDisplayAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.stones-img{
    position: absolute;
    margin-top: 35%;
    width: 500px;
}

@media screen and (max-width:650px){
    header{
        padding: 0 10px;
    }
    .head-left button{
         display: none;
    }
    .headright a{
        font-size: 12px;
        padding: 0 5px;
    }

    .hero-info{
        left:5%
    }

    .hero-section h1{
        font-size: 90px;
    }

    .next-btn{
         left:25%;
         top:40%;
    }
    .about-section{
        margin: 0;
    }

    .about-section h1{
        font-size: 50px;

    }

    .image-box{
        width: 300px;
        height: 500px;

    }

    .about-section h4,.about-section h5{
        max-width: 350px;
        text-align: center;
    }

    .contact-section .img1{
        width: 150px;
        height: 200px;
        right: 0;
        top: 30px;
        z-index: -1;

    }

    .contact-section .img2{
        top:30px;
        left:-40px;
        width: 180px;
        height: 180px;
        display: none;

    }

    .contact-section .img3{
        left:-40px;
        top:350px;
        /* bottom:0; */
        width: 180px;
        height: 180px;

    }

    .contact-section h1{
        font-size: 60px;
        max-width: 300px;
    }

    .footer p{
    display: none;
    }
    .stones-img{
    position: absolute;
    margin-top: 170%;
    width: 400px;
} 
.work p{
    top:200px
}

.meet p{
    top:200px;
    font-size: 25px;
    color:#0f1217;
    left:25px
}

.cyber p{
    top:150px;
}  
}